{% extends "base.html" %}

{% block content %}
        <h1>Add a Reading!</h1>

        <form id="reading_form" method="post" action="/add_reading/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
                <br>
            {% endfor %}
SocioCultural Theory: 4
Learing Sciences: 5

            <input type="submit" name="submit" value="Create Reading" />
        </form>
{% endblock %}
