{% extends "base.html" %}

{% block content %}
	<h3>Unfinished Readings</h3>
	<ul>
		{% for item in items %}
			<li>
				<a href="{% url 'item_detail' item.id %}">
					{{ item.title|capfirst }}
				</a>
			</li>
		{% endfor %}	
	</ul>
	

        <form id="reading_form" method="get" action="/add_reading/">
		<input type="submit" name="submit" value="Create Reading" />
          </form>
            
	<h3>Study Sessions</h3>
	<ul>
		{% for studySession in studySessions %}
			<li>
				<a href="{% url 'studySession_detail' studySession.id %}">
					{{ studySession.date }}
				</a>
			</li>
		{% endfor %}
	
	<h4> Overall Reading Speed (pages/hour) </h4>
		{{ readingSpeed }}		
	</ul>
	  <form id="session_form" method="get" action="/add_session/">
	<input type="submit" name="submit" value="Record Study Session" />
          </form>
	
	<h3>Courses</h3>
	<ul>
		{% for course in course %}
			<li>
				<a href="{% url 'course_detail' course.id %}">
					{{ course.title|capfirst }}
				</a>
			</li>
		{% endfor %}	
	</ul>		
	
				
{% endblock %}
