{% extends "base.html" %}

{% block content %}
	<h3>Unfinished Readings</h3>
	<ul>
		{% for item in items %}
			<li>
				<a href="{% url 'item_detail' item.id %}">
					{{ item.title|capfirst }}
				</a>
			</li>
		{% endfor %}	
	</ul>
	
	<h3>Study Sessions</h3>
	<ul>
		{% for studySession in studySessions %}
			<li>
				<a href="{% url 'studySession_detail' studySession.id %}">
					{{ studySession.date }}
				</a>
			</li>
		{% endfor %}	
	</ul>
	
	<h3>Course</h3>
	<ul>
		{% for course in course %}
			<li>
				<a href="{% url 'course_detail' course.id %}">
					{{ course.course|capfirst }}
				</a>
			</li>
		{% endfor %}	
	</ul>								
{% endblock %}