{% extends "base.html" %}
{% load mathfilters %}

{% block content %}
	<a href="{% url 'index' %}">Back to reading list</a>
	<h3>{{ item.title|capfirst }}</h3>
	<p> Start Page: {{ item.startPage }} </p>
	<p> End Page: {{ item.endPage }}</p>
	<p> Total Pages: {{item.endPage|sub:item.startPage}}</p>
	<p> Course : {{ item.course }}</p>
	<p> Due Date: {{ item.dueDate }} </p>
	<p> Pages Read: {{ pagesRead }} </p>
	<p> Percent Read: {{ percentRead }} %	 <progress value={{percentRead}} max="100"></progress> </p>
	
	
{% endblock %}
