{% extends "base.html" %}
{%load mathfilters %}

{% block content %}
	<a href="{% url 'index' %}">Back</a>
	<h3>You read: {{ studySession.reading|capfirst }}</h3>
	<p> Starting at page: {{ studySession.startPage }} </p>
	<p> and reading to page: {{ studySession.endPage }} </p>
	<p> Spending <strong>{{ studySession.timeSpent }}</strong> Minutes </p>
	<p> For a reading speed of: <strong>{{ studySession.endPage|sub:studySession.startPage|div:studySession.timeSpent|mul:60 }} Pages per Hour!</strong></p>
{% endblock %}
